@model XTeam.Models.Scripts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SqlCommand)
        </dt>

        <dd>
            <textarea id="sqlCommand" class="form-control input-lg" rows="10">@Model.SqlCommand</textarea>
        </dd>

    </dl>
</div>
<p>   
    <a href="@Url.Action("Edit", "Script", new { id = Model.Id })" class="btn btn-info">Edit</a> 
    <a href="@Url.Action("Index", "Script")" class="btn btn-primary">Back to List</a>
</p>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/codemirror")

    <script>

        var app = new Vue({
            el: '#app',
            mounted: function () {

                window.editor = window.editor || {};

                var sqlcmd = document.getElementById("sqlCommand");

                window.editor = CodeMirror.fromTextArea(sqlcmd,
                {
                    mode: "text/x-mssql",
                    indentWithTabs: true,
                    smartIndent: true,
                    lineNumbers: true,
                    lineWrapping: true,
                    matchBrackets: true,
                    autofocus: false,
                    readOnly: true,
                    firstLineNumber: 1,
                    extraKeys: { "Tab": "autocomplete" }
                });

                window.editor.setOption("theme", "default");
                window.editor.refresh();
            }
        });

    </script>
}